# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
env.bak/
venv.bak/
*.db
*.sqlite
*.sqlite3

# Node
node_modules/
dist/
build/

# Environment files
.env
.env.*
!.env.example
.env.local
.env.development.local
.env.test.local
.env.production.local
backend/.env
frontend/.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store

# Logs
*.log
logs/
